:root {
	--color_theme: #4f83b6;
	--color_p: #333;
	--font_size: 18px;
	--container: 1170px;
	--links_header: #fff;
	--color-dark: #2C363F;
	--color-pink: #E75A7C;
	--color-light: #F2F5EA;
	--color-gray: #D6DBD2;
	--color-green: #BBC7A4;
}


xs = 480px;
sm = 768px;
md = 992px;
lg = 1200px;

max_xs = xs - 1;
max_sm = sm - 1;
max_md = md - 1;
max_lg = lg - 1;
