.footer {
	background: #3e3e3e;
	&-title {
		color: var(--color_theme);
		margin-bottom: 10px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 18px;
	}
	&-item {
		margin-bottom: 20px;
		a {
			color: #333; 
			padding: 5px 0;
			display: block;
			left: 0;
			position: relative;
			transition: all 0.2s ease;
		}
		nav {
			li {
				&:hover {
					background: #2f2e2e;
                    a {
                        left: 10px;
                    }
				}
			}
		}
	}  
	p, a {
		color: #c7c7c7;
        margin-bottom: 0;
        display: inline-block;
        font-size: 16px;
	}
}
