.card {
    padding: 5px;
    background: var(--color-light);
    margin-bottom: 15px;
    figure {
        margin-bottom: 10px;
    }
    h2 {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 5px;
        color: var(--color-dark);
    }
    .card-content {
        span {
            font-size: 14px;
            display: block;
        } 
        .price {
            font-weight: 500;
        }
        .parcel {
            margin-bottom: 10px;
            font-size: 13px;
        }
    }
    .btn {
        margin-bottom: 15px;
    }
}

.page-title {
    background: var(--color-light)
    border-top: 4px solid var(--color-green);
    padding: 15px 10px;
    margin-bottom: 15px;
    h2 {
        font-weight: lighter;
    }
}

.breadcrumb {
    margin-bottom: 25px;
    span {
        font-size: 12px;
    }
    li {
        display: inline-block;
        a {
            color: #757575
        }
        .fa {
            font-size: 10px;
            position: relative;
            top: -2px;
        }
        &.active {
            a {
                color: var(--color-dark)
            }
        }
    }
}