.sidebar {
    &_title {
        margin-bottom: 5px;
    }
    &_item {
        margin-bottom: 20px;
    }
}

.cat-list {
    li {
        display: inline-block;
        background: #42af96;
        border-radius: 3px;
        margin-bottom: 5px;
        a {
            padding: 5px;
            color: #fff;
            display: block;
        }
    }
}

.partnes {
    a {
        display: block;
        height: 80px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        
    }
}